<div class="card">
    <div class="card-header">
        <h4><a class="nav-link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
    </div>
    <div class="card-body">
        <p>{{content}}</p>
        <p>Date: {{format_date created_at}}</p>
    </div>
</div>